<?xml version="1.0" encoding="UTF-8"?>
<phpunit
        colors="true"
        bootstrap="tests/bootstrap.php"
>
    <filter>
        <whitelist processUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">src</directory>
            <exclude>
                <directory suffix=".php">src/Exception/</directory>
                <directory suffix=".php">src/Config/</directory>
                <directory suffix=".php">src/DependencyInjection/</directory>
                <file>src/Kernel.php</file>
            </exclude>
        </whitelist>
    </filter>

    <testsuites>
        <testsuite name="Default test suite">
            <directory>tests</directory>
        </testsuite>
    </testsuites>
</phpunit>
