<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" colors="true" bootstrap="tests/bootstrap.php" xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.3/phpunit.xsd">
  <coverage processUncoveredFiles="true">
    <include>
      <directory suffix=".php">src</directory>
    </include>
    <exclude>
      <directory suffix=".php">src/Exception/</directory>
      <directory suffix=".php">src/Config/</directory>
      <directory suffix=".php">src/DependencyInjection/</directory>
      <file>src/Kernel.php</file>
    </exclude>
  </coverage>
  <php>
    <env name="APP_DEBUG" value="false"/>

    <env name="DB_CONNECTION" value="mysql"/>
    <env name="DB_USERNAME" value="root"/>
    <env name="MYSQL_ALLOW_EMPTY_PASSWORD" value="yes"/>
    <env name="DB_DATABASE" value="test"/>
    <env name="DB_HOST" value="127.0.0.1" />
    <env name="DB_PORT" value="3306" />

  </php>
  <testsuites>
    <testsuite name="Default test suite">
      <directory>tests</directory>
    </testsuite>
  </testsuites>
</phpunit>
